.no-results-container {
    text-align: left;
    width: 60%;
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    padding: 20px;
    & h3 {
        padding: 0;
        margin: 0;
    }
    & ul {
        padding: 0 20px;
        margin: 15px 0 0 10px;
        & li {
            margin: 5px 0;
        }
    }
    & .search-icon-no-result {
        width: 100px;
        height: 100px;
    }
}